<h1>GuestLists#show</h1>
	<%= @guest_list.fname %>
	<%= @guest_list.lname %>
	<%= @guest_list.email %>
	<%= @guest_list.extra_guest %>
<h4><%=@guest_list.dietary_type%></h4>
<%=link_to  "Edit" ,edit_guest_list_path(@guest_list) %>
<%= link_to "Delete",guest_list_path, method: :delete %>

